.tabs-paper {
  z-index: 1001;
  position: fixed;
  top: 24px;
}

.event-page-back {
  position: fixed!important;
  top: 126px;
  left: 30px;
  color: white;
  font-weight: bold;
  z-index: 1001;
}

.event-page-view {
  display: /* weird */ flex /* but okay */;
  height: calc(100vh - 96px);
  overflow: hidden;
  width: 100vw;
  top: 0;
  left: 0;
  .event-page-mock-panel {
    height: 100vh;
    width: 50vw;
    min-width: 50vw;
    max-width: 50vw;
    z-index: -9999;
  }
  .event-page-left-panel {
    position: fixed;
    .event-page-image {
      height: 100vh;
      width: 50vw;
      object-fit: cover;
    }
    height: 100vh;
    width: 50vw;
  }
  .event-page-right-panel {
    width: calc(50vw - 90px);
    padding: 30px 30px 30px 60px;
    overflow-y: scroll;
    .event-page-title {
      font-weight: bold;
      font-size: 36pt;
    }
    .event-page-block-title {
      font-weight: bold;
      font-size: 12pt;
      letter-spacing: 0.1564em;
      text-transform: uppercase;
    }
    .event-page-body {
      font-size: 16pt;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.6);
    }
    .event-page-detail {
      margin-top: 15px;
      .attendee-table {
        width: calc(50vw - 120px);
        .table-cell {
          padding: 4px;
        }
      }
      .attendee-button {
        margin-top: 10px;
        font-weight: bold;
        .add-icon {
          margin-right: 10px;
        }
      }
    }
  }
}
