.big404 {
  font-size: 66vh;
  position: fixed;
  font-weight: 700;
  top: -2vh;
  letter-spacing: -0.05;
  z-index: -100;
  color: #fafafa;
}

.title {
  text-transform: capitalize;
  letter-spacing: 0.42em;
}

.back-button {
  margin: 15px
}