.title {
  letter-spacing: 0.42em;
}

.frontpage-view {
  width: 100vw;
  min-height: 100vh;
}

.body {
  max-width: 480px;
  margin: 15px;
  text-align: justify;
}

.italic {
  font-style: italic;
}