$chang-blue: #0066ff;

.fixed-top-left {
    position: fixed;
    top: 30px;
    left: 30px;  
}

.fixed-top-right {
    position: fixed;
    top: 30px;
    right: 30px;  
}

.centered-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.form-title {
    font-size: 34px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.align-right {
    text-align: right;
    margin-top: 15px;
}

.chang-blue-background {
    background-color: $chang-blue;
    font-weight: bold;
}

.chang-blue-font {
    color: $chang-blue;
    font-weight: bold;
}

.large-heading {
    margin: 0;
    font-size: 144px;
    text-align: left;
}

.slogan {
    margin: 0;
    margin-top: -30px;
    font-size: 48px;
    text-align: left;
    font-weight: 100;
}

.margin-end {
    margin-right: 30px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.small-box {
    margin-top: 16px;
    margin-bottom: 30px;
    width: 302px;
}

.medium-box {
    width: 328px;
}

.register-link {
    margin-top: 30px;
}

.grey-light {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}