.card {
  width: 350px;
  height: 400px;
  .card-content {
    width: 318px;
    height: 113px;
  }
  .card-header {
    width: 350px;
    height: 200px;
    object-fit: cover;
  }
  .card-date {
    font-size: 12pt;
    font-weight: bold;
    letter-spacing: 0.1564em;
  }
  .card-title {
    font-size: 21pt;
    font-weight: bold;
    letter-spacing: 0.0129em;
  }
  .card-body {
    font-size: 12pt;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
  }
  .card-button {
    font-weight: bold;
    color: #0066ff;
  }
}
