.customer-view {
  padding-top: 96px;
  margin: auto;
  .headline {
    font-size: 36px;
    font-weight: bold;
    margin: 30px;
    text-align: center;
  }
  .customer-cards {
    display: flex;
    justify-content: center;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0 15px 0 15px;
      li {
        margin-bottom: 30px;
      }
    }
  }
}

.card {
  width: 350px;
  height: 400px;
  .card-header {
    width: 350px;
    height: 200px;
    object-fit: cover;
  }
  .card-date {
    font-size: 12pt;
    font-weight: bold;
    letter-spacing: 0.1564em;
  }
  .card-title {
    font-size: 21pt;
    font-weight: bold;
    letter-spacing: 0.0129em;
  }
  .card-body {
    font-size: 12pt;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
  }
  .card-button {
    font-weight: bold;
    color: #0066ff;
  }
}
