<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    </head>
    <body>
        <div id="example" class="view"></div>

        <!-- Dependencies -->
        <script src="./react.development.js"></script>
        <script src="./react-dom.development.js"></script>

        <!-- Main -->
    </body>
</html>