.detail-card {
  margin: 0 15px 30px 15px;
  max-height: calc(100vh - 156px);
  width: 520px;
  position: sticky;
  top: 126px;
  overflow-y: auto !important;
  padding: 0;
  .window-title-bar {
    height: 24px;
    background: #000080;
    padding: 4px 4px 0px 10px;
    color: white;
    font-family: 'MS Sans Serif';
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    .close-button {
      margin-bottom: 4px;
      background: #c0c0c0;
      border-width: 1px;
      border-color: #ffffff #808080 #808080 #ffffff;
      font-weight: bold;
      font-size: 9px;
    }
    .close-button:focus {
      outline: none;
    }
  }
  .pre-title {
    font-size: 12pt;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.54);
    text-transform: uppercase;
    letter-spacing: 0.1564em;
  }
  .add-event-button {
    font-weight: bold;
    position: absolute;
    top: 43px;
    right: 15px;
  }
  .title {
    letter-spacing: initial;
    font-size: 24pt;
    font-weight: bold;
    text-transform: capitalize;
  }
  .event-list {
    li {
      padding: 0;
    }
    .image {
      width: 520px;
      height: 280px;
      object-fit: cover;
    }
    .details {
      padding: 16px;
      .date {
        font-size: 12pt;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.54);
        text-transform: uppercase;
        letter-spacing: 0.1564em;
      }
      .event-title {
        letter-spacing: initial;
        font-size: 21pt;
        font-weight: bold;
        text-transform: capitalize;
      }
      .event-blurb {
        font-size: 14pt;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.54);
      }
    }
  }
  .error-text {
    font-size: 14pt;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.54);
  }
  .button {
    margin-top: 10px;
    font-weight: bold;
  }
}
