.detail-card {
  margin: 0 15px 30px 15px;
  max-height: calc(100vh - 156px);
  width: 520px;
  position: sticky;
  top: 126px;
  overflow-y: auto !important;
  overflow-x: hidden;
  padding: 0;
  .pre-title {
    font-size: 12pt;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.54);
    text-transform: uppercase;
    letter-spacing: 0.1564em;
  }
  .add-event-button {
    font-weight: bold;
    position: absolute;
    top: 43px;
    right: 15px;
  }
  .title {
    letter-spacing: initial;
    font-size: 24pt;
    font-weight: bold;
    text-transform: capitalize;
  }
  .event-list {
    li {
      padding: 0;
    }
    .image {
      width: 520px;
      height: 280px;
      object-fit: cover;
    }
    .details {
      padding: 16px;
      .date {
        font-size: 12pt;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.54);
        text-transform: uppercase;
        letter-spacing: 0.1564em;
      }
      .event-title {
        letter-spacing: initial;
        font-size: 21pt;
        font-weight: bold;
        text-transform: capitalize;
      }
      .event-blurb {
        font-size: 14pt;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.54);
      }
    }
  }
  .error-text {
    font-size: 14pt;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.54);
  }
  .button {
    margin-top: 10px;
    font-weight: bold;
  }
}
