$surprise-delay: 5s;
$surprise-time: 5s;
$surprise-func: ease-out;
$goodbye-time: 100ms;
.user-card {
  margin: 0 15px 30px 15px;
  position: relative;
  .user-content {
    display: flex;
    padding: 0 !important;
    .user-image {
      height: 120px;
      width: 120px;
      background-color: #cecece;
      .user-placeholder {
        height: 120px;
        width: 110px;
        margin-left: 10px;
        object-position: 100% 0;
        object-fit: cover;
        transition: object-position $goodbye-time $surprise-func 0s,
          margin-left 0ms linear calc( 0s + #{$goodbye-time}),
          width 0ms linear calc( 0s + #{$goodbye-time});
      }
      .user-placeholder:hover {
        object-position: 0 0;
        margin-left: 0;
        width: 120px;
        transition: object-position $surprise-time $surprise-func $surprise-delay, margin-left 0ms linear $surprise-delay,
          width 0ms linear $surprise-delay;
      }
    }
    .user-details {
      padding: 15px 30px 15px 30px;
      .user-title {
        font-size: 24pt;
        font-weight: bold;
        text-transform: capitalize;
      }
      .user-subtitle {
        font-size: 14pt;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.54);
      }
    }

    .edit-container {
      position: absolute;
      right: 5px;
      bottom: 5px;
    }
  }
}

#fab {
  position: absolute;
  bottom: 20px;
  right: 40px;
}
